body {
  margin: 0;
  background-color: rgb(95, 83, 83);
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: rgb(13, 209, 101);
  background: url("..//img/poster.jpg.adapt.crop16x9.1920w.jpg") center
    no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

/*Dropdown-Button*/
.dropbtn {
  background-color: -#a32121;
  color: blue;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/*-The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(95, 83, 83);
  z-index: 1;
}

/* Links inside the dropdown the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Change the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e3e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.intro {
  width: 100%;
  height: 100vh;
}

.intro__title {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  color: rgb(182, 19, 19);
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: darkslategray;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 25px;
}

.avatarka {
  margin: 0px 100px;
}

.start__link {
  text-decoration: none;
  color: black;
}
